---
# Debian-based distro
- name: Debian-based - Pull reboot info
  when: ansible_distribution in ['Debian', 'Ubuntu', 'LinuxMint']
  ansible.builtin.command: needrestart -q -b
  register: debianrestart
    
# Arch Linux distro
# - name: Update Arch-based distro
#   when: ansible_distribution in ['Arch Linux']

# CentOS-based Linux distro
- name: Update CentOS-based distro
  when: ansible_distribution in ['CentOS', 'RedHat', 'OracleLinux', 'Amazon']
  ansible.builtin.command: needs-restarting -r
  register: rhelrestart


# Fedora-based Linux distro
# - name: Update Fedora-based distro
#   when: ansible_distribution == 'Fedora'


# openSUSE-based Linux distro
# - name: Update openSUSE-based distro
#   when: ansible_distribution in ['openSUSE Leap', 'SUSE Linux Enterprise Server', 'openSUSE Tumbleweed']
#   ansible.builtin.command: zypper needs-rebooting
#   register: suserestart
#   failed_when:
#     - suserestart.rc == 0

- name: "Print Debian reboot needed"
  ansible.builtin.debug:
    msg: "{{ inventory_hostname }} reboot needed"
  when: ansible_distribution in ['Debian', 'Ubuntu', 'LinuxMint'] and (debianrestart is defined) and (debianrestart.stdout | regex_search("NEEDRESTART-SVC`:` [2,3,0]"))

- name: "Print openSUSE-based reboot status"
  ansible.builtin.debug:
    msg: "{{ inventory_hostname }} reboot needed"
  when: ansible_distribution in ['openSUSE Leap', 'SUSE Linux Enterprise Server', 'openSUSE Tumbleweed'] and (suserestart is defined) and (suserestart.rc == '102')

- name: "Print RHEL Update"
  ansible.builtin.debug:
    msg: "{{ inventory_hostname }} reboot needed"
  when: ansible_distribution in ['CentOS', 'RedHat', 'OracleLinux', 'Amazon'] and (rhelrestart is defined) and (rhelrestart.stdout | regex_search('(Reboot is required)'))
 
# - name: "Print RHEL Update"
#   ansible.builtin.debug:
#     msg: "{{ inventory_hostname }} reboot needed"
#   when: ansible_distribution in ['CentOS', 'RedHat', 'OracleLinux', 'Amazon'] and (rhelrestart is defined) and (rhelrestart.stdout | regex_search('(Reboot is required)'))

### REBOOTS
- name: "Suse - Reboot Host"
  ansible.builtin.reboot:
  when: ansible_distribution in ['openSUSE Leap', 'SUSE Linux Enterprise Server', 'openSUSE Tumbleweed'] and (suserestart is defined) and (suserestart.rc == '102')

- name: "Debian - Reboot Host"
  ansible.builtin.reboot:
  when: ansible_distribution in ['Debian', 'Ubuntu', 'LinuxMint'] and (debianrestart is defined) and (debianrestart.stdout | regex_search("NEEDRESTART-SVC`:` [2,3,0]"))

- name: "RHEL - Reboot host"
  ansible.builtin.reboot:
  when: ansible_distribution in ['CentOS', 'RedHat', 'OracleLinux', 'Amazon'] and (rhelrestart is defined) and (rhelrestart.stdout | regex_search('(Reboot is required)'))